.nadpis {
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: 0px;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: 700px; /* Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 600;
    font-size: 35px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    text-shadow: #0f0f0f 2.5px 1.25px;
    color: red;  /* Меняем цвет шрифта на белый */
}

.backToMainPage{
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: center;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: center; * Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 25px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    text-shadow: #0f0f0f 2.5px 1.25px;
    color: white;  /* Меняем цвет шрифта на белый */
    background: black;
    border-radius: 10px;
}

.htmlMainPage {
    background-image: url("../img/background-main-page.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.htmlPaymentPage {
    background-image: url("../img/background-payment-page.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.htmlReserveHotel {
    background-image: url("../img/background-reserve-hotel.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hotelList {
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: -800px;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: -10px; /* Переопределяем значение */
    bottom: 80px;  /* Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 20px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    text-shadow: #0f0f0f 3px 2px;
    color: white;  /* Меняем цвет шрифта на белый */
    }

.reserveHotelBtn {
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: center;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: center; * Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 30px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    text-shadow: #0f0f0f 2.5px 1.25px;
    color: white;  /* Меняем цвет шрифта на белый */
    background: black;
    border-radius: 10px;
}

.profileBtn {
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: center;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: center; * Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 18px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    text-shadow: #0f0f0f 2.5px 1.25px;
    color: white;  /* Меняем цвет шрифта на белый */
    background: black;
    border-radius: 10px;
}

.loginBtn {
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: 230px;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: 624px; * Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 18px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    text-shadow: #0f0f0f 2.5px 1.25px;
    color: white;  /* Меняем цвет шрифта на белый */
    background: black;
    border-radius: 10px;
}

.registerBtn {
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: center;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: 592px; * Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 18px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    text-shadow: #0f0f0f 2.5px 1.25px;
    color: white;  /* Меняем цвет шрифта на белый */
    background: black;
    border-radius: 10px;
}

.search_hotel_button {
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: 610px;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: -25px; /* Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 20px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    text-shadow: #0f0f0f 2.5px 1.25px;
    color: white;  /* Меняем цвет шрифта на белый */
    background: black;
    border-radius: 10px;
}

.bookingBtn {
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: 0px;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: 0px; /* Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 25px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    text-shadow: #0f0f0f 2.5px 1.25px;
    color: white;  /* Меняем цвет шрифта на белый */
    background: black;
    border-radius: 10px;
}

.search_hotel {
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: center;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: center; /* Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 18px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    color: white;  /* Меняем цвет шрифта на белый */
    background: black;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;

    &:focus {
    background-color: black; /* Цвет поля при фокусе */
    color: white; /* Цвет текста при фокусе */
    outline: none; /* Убрать окантовку при фокусировке */

}
}

.check_in_date {
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: center;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: center; /* Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 18px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    color: white;  /* Меняем цвет шрифта на белый */
    background: black;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;

    &:focus {
    background-color: black; /* Цвет поля при фокусе */
    color: white; /* Цвет текста при фокусе */
    outline: none; /* Убрать окантовку при фокусировке */
    }
    &[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}
}

.check_out_date {
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: center;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: center; /* Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 18px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    color: white;  /* Меняем цвет шрифта на белый */
    background: black;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;

    &:focus {
    background-color: black; /* Цвет поля при фокусе */
    color: white; /* Цвет текста при фокусе */
    outline: none; /* Убрать окантовку при фокусировке */
    }
    &[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}
}

.guest_count {
    position: relative;
    width: 164px;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: center;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: center; /* Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 18px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    color: white;  /* Меняем цвет шрифта на белый */
    background: black;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;

    &:focus {
    background-color: black; /* Цвет поля при фокусе */
    color: white; /* Цвет текста при фокусе */
    outline: none; /* Убрать окантовку при фокусировке */
    }
}

.hotelInfo{
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: center;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: center; /* Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 20px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    text-shadow: #0f0f0f 2.5px 1.6px;
    color: white;  /* Меняем цвет шрифта на белый */
}

.hotelInfoText{
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: -800px;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: -10px; /* Переопределяем значение */
    bottom: 80px;  /* Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 25px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    text-shadow: #0f0f0f 3px 2px ;
    color: white;  /* Меняем цвет шрифта на белый */
}

.totalPrice{
    position: relative;
    width: center;  /* Увеличиваем ширину кнопки */
    height: center;  /* Увеличиваем высоту кнопки */
    left: -800px;  /* Если увеличиваем ширину кнопки, можно подвинуть позиционирование */
    top: -10px; /* Переопределяем значение */
    bottom: 80px;  /* Переопределяем значение */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nosifer", sans-serif;
    font-weight: 800;
    font-size: 25px;  /* Увеличиваем размер шрифта */
    font-style: normal;
    text-shadow: #0f0f0f 3px 2px ;
    color: white;  /* Меняем цвет шрифта на белый */
}